EMAIL_REGISTER_PLATFORM=YOUR_EMAIL_REGISTER_PLATFORM

# ===== Resend
RESEND_ADMIN_SENDER_EMAIL="onboarding@resend.dev"
RESEND_EMAIL_REGISTER=$EMAIL_REGISTER_PLATFORM
RESEND_API_KEY="YOUR_API_KEY"

# ===== Mailersend
MAILERSEND_API_KEY="YOUR_API_KEY"
MAILERSEND_EMAIL_REGISTER=$EMAIL_REGISTER_PLATFORM
MAILERSEND_ADMIN_SENDER_DOMAIN="MAILERSEND_ADMIN_SENDER_DOMAIN"
MAILERSEND_ADMIN_SENDER_NAME="YOUR_NAME"
