EMAIL_REGISTER_PLATFORM=YOUR_EMAIL_REGISTER_PLATFORM

# ===== Resend
RESEND_ADMIN_SENDER_EMAIL="onboarding@resend.dev"
RESEND_EMAIL_REGISTER=$EMAIL_REGISTER_PLATFORM
RESEND_API_KEY=YOUR_RESEND_API_KEY

# ===== Mailersend
MAILERSEND_API_KEY=YOUR_MAILERSEND_API_KEY
MAILERSEND_EMAIL_REGISTER=$EMAIL_REGISTER_PLATFORM
MAILERSEND_ADMIN_SENDER_DOMAIN=YOUR_MAILERSEND_ADMIN_SENDER_DOMAIN
MAILERSEND_ADMIN_SENDER_NAME=YOUR_MAILERSEND_ADMIN_SENDER_NAME

# ===== Twilio SMS
TWILIO_ACCOUNT_ID=YOUR_TWILIO_ACCOUNT_ID
TWILIO_AUTH_TOKEN=YOUR_TWILIO_AUT_TOKEN
TWILIO_FROM_NUMBER=YOUR_TWILIO_FROM_NUMBER
TWILIO_PHONE_NUMBER_REGISTERED=YOUR_TWILIO_PHONE_NUMBER_REGISTERED
